.pagewrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    flex-direction: column;
}
.noscroll {
    overflow-x: hidden;
    overflow-y: hidden;
}